<div class="jumbotron text-center">
  <h2>Tweet Visualization App</h2>
  <p>{{ message }}</p>
  <div class="container-fluid text-center tech">
  <br>
  <div class="row">
    <div class="col-sm-4">
       <i class="devicon-mongodb-plain logo-small"></i>
      <h4>Mongo DB</h4>
      <p>Open source database that uses JSON-style data store.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-etsy logo-small" aria-hidden="true"></i>
      <h4>Express</h4>
      <p>Minimal and flexible Node.js framework to make web applications.</p>
    </div>
    <div class="col-sm-4">
       <i class="devicon-angularjs-plain logo-small"></i>
      <h4>Angular</h4>
      <p>Structural framework for dynamic web apps, based in HTML.</p>
    </div>
    </div>
    <br>
  <div class="row">
    <div class="col-sm-4">
       <i class="devicon-nodejs-plain logo-small"></i>
      <h4>Node JS</h4>
      <p>Server-side JavaScript.</p>
    </div>
    <div class="col-sm-4">
       <i class="devicon-html5-plain logo-small"></i>
      <h4>HTML</h4>
      <p>Standard markup language for creating web pages.</p>
    </div>
    <div class="col-sm-4">
       <i class="devicon-css3-plain logo-small"></i>
      <h4>CSS</h4>
      <p>Computer language to style and formatting HTML pages.</p>
    </div>
    </div>
    <br>
  <div class="row">
    <div class="col-sm-4">
    <i class="devicon-bootstrap-plain logo-small"></i>
      <h4>Boopstrap</h4>
      <p>Front-end framework for faster and easier web development.</p>
    </div>
    <div class="col-sm-4">
       <i class="devicon-d3js-plain logo-small"></i>
      <h4>D3JS</h4>
      <p>A JavaScript library for manipulating documents based on data using HTML, SVG and CSS.</p>
    </div>
    <div class="col-sm-4">
       <i class="devicon-javascript-plain logo-small"></i>
      <h4>Java Script</h4>
      <p>Language to write object oriented web applications</p>
    </div>
  </div>
</div>
</div>
